$font-stack: Helvetica, sans-serif;

$background-1: #FFFFFF;
$background-2: #F7F7F7;
$background-3: #000000;

$textColor-1: #92D54D;
$textColor-2: #000000;
$textColor-3: #1A1A1A;
$textColor-4: #FFFFFF;

$borderColor-1: #ECECEC;

$theme-1: (
    background: $background-1,
    textColor: $textColor-2,
    hightlighTextColor: $textColor-1
);


$theme-2: (
    background: $background-2,
    textColor: $textColor-3,
    textColorLight: lighten($textColor-3, 20%),
    highlightTextColor: $textColor-1,
    borderColor: $borderColor-1
);

$theme-3: (
    background: $background-3,
    textColor: $textColor-4,
    highlightTextColor: $textColor-1
);
