.popup {
  &__modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    padding: 20px;
    z-index: 2147483647;
    box-sizing: border-box;
    outline: none;
    max-width: 700px;
    margin: 40px auto;
  }

  &__content {
    position: relative;
    height: 100%;
  }

  &__close-button {
    position: absolute;
    right: -5px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    z-index: 2147483646;
    box-sizing: border-box;
    outline: none;
  }
}
