.popup {
  &__modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    padding: 20px;
    z-index: 2147483647;
    box-sizing: border-box;
    outline: none;
    max-width: 700px;
    margin: 40px auto;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    z-index: 2147483646;
    box-sizing: border-box;
    outline: none;
  }
}
