.vocabulary {
}

.vocabulary__export-button {
    box-sizing: border-box;
    padding: 7px 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 4px #444;
}

.vocabulary__export-button:active {
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

.vocabulary__content {
    display: flex;
}

@media only screen and (min-width: 800px) {
    .vocabulary__content {
        flex-wrapper: wrap;
    }
    .vocabulary__pdf-reader {
        flex: 1;
    }
    .vocabulary__content-list-form {
        display: flex;
        flex-wrapper: wrap;
        flex: 1;
    }
}

@media only screen and (max-width: 800px) {
    .vocabulary__content {
        display: block;
    }

    .vocabulary__go-back-button {
        padding: 15px 10px;
    }

    .vocabulary__layout-simple-button {
        padding: 15px 10px;
    }

    .vocabulary__layout-pdf-button {
        padding: 15px 10px;
    }

    .vocabulary__export-button {
        padding: 15px 10px;
    }
}

.vocabulary__delete-button {
    padding: 0 10px;
}

.vocabulary__phrases-list-container {
    flex: 1;
    position: relative;
    padding: 0 0 50px;
}
.vocabulary__phrases-list {

}

.phrases-list__phrases-buttons {
    display: flex;
    margin: 10px 0 14px 0;
    padding: 10px;
}

.phrases-list__show-hide-reference {
    flex: 1;
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px #444;
}

.phrases-list__show-hide-reference:active {
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

.phrases-list__show-hide-phrase-form {
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px #444;

    flex: 1;
    margin-right: 10px;
}

.phrases-list__show-hide-phrase-form:active {
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

.phrase-item__translation-links {
    margin: 20px 0 24px;
}

.phrase-item__translation-link {
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background: #000;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    box-shadow: 0 4px #444;
}

.phrase-item__translation-link:active {
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}


.vocabulary__pdf-reader-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.vocabulary__pdf-reader-header-center {
    padding: 0 10px;
}

.vocabulary__pdf-reader-header-right {
    flex: 1;
}

.vocabulary__pdf-reader-header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vocabulary__pdf-reader-vocabulary-title {
    font-size: 32px;
    padding: 0;
    margin: 0;
}

.vocabulary__pdf-reader-buttons {
    display: flex;
    margin: 10px 0 0 0;
    padding: 10px;
}

.vocabulary__pdf-reader-upload-button {
    flex: 1;
}

.vocabulary__pdf-reader-back-button {
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 4px #444;

    margin-bottom: 2px;
    padding: 5px 15px;
}

.vocabulary__pdf-reader-back-button:active {
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

