.vocabulary {
    display: flex;
}

@media only screen and (min-width : 800px) {
    .vocabulary {
        flex-wrapper: wrap;
    }
    .vocabulary__pdf-reader {
        flex: 1;
    }
    .vocabulary__content {
        display: flex;
        flex-wrapper: wrap;
        flex: 1;
    }
}

@media only screen and (max-width : 800px) {
    .vocabulary {
        display: block;
    }
}

.vocabulary__phrases-list-container {
    flex: 1;
}
.vocabulary__phrases-list {

}

.phrases-list__phrases-buttons {
    display: flex;
    margin-top: 10px;
}

.phrases-list__show-all-button {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.phrases-list__show-hide-reference {
    flex: 1;
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.phrases-list__show-hide-phrase-form {
    flex: 1;
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.phrase-item__translation-links {
    margin: 10px 0;
}

.phrase-item__translation-link {
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background: #000;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
}
