.pdf-reader__annotation {
    display: inline-block;
    padding: 0 2px;
    background: #000;
    color: #FFF;
    cursor: pointer;
    user-select: none;
}

.pdf-reader__nav-container {
    margin: 10px 0;
    display: flex;
}

.pdf-reader__nav-text-input {
    min-width: 50px;
}

.pdf-reader__nav-button {
    flex: 1;
}

.pdf-reader__content {
    padding: 5px 10px;
    font-size: 1.2em;
    text-align: left;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .pdf-reader__content {
        font-size: 1.4em;
    }
    .pdf-reader__content br {
        display: none;
    }
}
