@import '../../assets/scss/global.scss';

.vocabulary-phrase-list-menu {
    display: flex;
    padding: 10px;
    background: #bbb;
    border-top: 1px solid #999;
    position: fixed;
    transform: translate3d(0, 0, 0);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;

    &__button {
        @include button;
        flex: 1;
    }

    &__splitter {
        width: 10px;
    }
}
