.vocabulary-list-item {
    margin: 5px 0;
}

.vocabulary-list-item__link {
    color: 16px;
    text-decoration: none;
    color: #000;
    display: flex;
    padding: 5px;
    background: #DDD;
}

.vocabulary-list-item__title {
    color: 16px;
    color: #000;
}

.vocabulary-list-item__number-of-phrases {
    color: 14px;
    color: #ccc;
}
