.vocabulary-list-item {
    margin: 5px 0;
    display: flex;
}

.vocabulary-list-item__link {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    display: flex;
    background: #DDD;
    margin: 10px 0;
    padding: 10px;
    flex: 1 1 100%;
}

.vocabulary-list-item__title {
    color: 16px;
    color: #000;
}

.vocabulary-list-item__number-of-phrases {
    color: 14px;
    color: #ccc;
}
