.vocabulary-form {
    padding: 10px;
}

.vocabulary-form__input-label {
    text-align: center;
}

.vocabulary-form__text-input {
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: solid #ddd;
    border-width: 2px;
    border-radius: 5px;
    font-size: 16px;
}

.vocabulary-form__buttons {
    display: flex;
    margin-top: 5px;
    user-select: none;
}

.vocabulary-form__submit-button {
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    flex: 1;
}

.vocabulary-form__cancel-button {
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    flex: 1;
    margin-right: 10px;
}
