.phrase-form {
    padding: 10px;
}

.phrase-form__input-label {
    text-align: center;
}

.phrase-form__text-input {
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: solid #ddd;
    border-width: 2px;
    border-radius: 5px;
    font-size: 16px;
}

.phrase-form__text-input:focus {
    outline-color: #ccc;
}

.phrase-form__buttons {
    display: flex;
    margin-top: 5px;
    user-select: none;
}

.phrase-form__submit-button {
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 4px #444;

    flex: 1;
}

.phrase-form__submit-button:active {
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

.phrase-form__cancel-button {
    box-sizing: border-box;
    padding: 5px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 4px #444;

    flex: 1;
    margin-right: 10px;
}

.phrase-form__cancel-button:active {
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

.phrase-form__delete-button-wrapper {
    margin: 20px 0;
}

.phrase-form__translations {
    display: flex;
    flex-direction: column;
}

.phrase-form__translation {
    padding: 10px;
    margin: 10px 0;
    border: none;
    background: #ccc;
}


.phrase-item__reference {
    font-size: 14px;
    background: #f9f9f9;
    border-left: 1em solid #eee;
    margin: 1.5em 1em;
    padding: .5em 1em;
    quotes: "\201C""\201D";
}

.phrase-item__reference:before{
    color: #808080;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}
.phrase-item__reference:first-child{
    display: block;
}
.phrase-item__reference:last-child{
    margin-bottom: 0;
}
