@import '../../assets/scss/global.scss';

.fixed-footer {
    display: flex;
    background: #F7F7F7;
    border-top: 1px solid #ECECEC;
    position: fixed;
    transform: translate3d(0, 0, 0);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px -4px 18px -1px rgba(209,205,209,1);
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s linear;

    &--hide {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.2s linear;
    }
}

